/* styles/Process.module.css */
.container {
    padding: 60px 0;
    text-align: center;
}

.titleContainer {
    margin-bottom: 40px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

.title::before,
.title::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50px;
    height: 2px;
    background-color: #2236e2;
}

.title::before {
    left: -60px;
}

.title::after {
    right: -60px;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #666;
}

@media (max-width: 768px) {
    .title::before,
    .title::after {
        width: 30px;
        left: -40px;
        right: -40px;
    }
}

.card {
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin: 20px; /* Adjust this margin for more gap */
}

.card:hover {
    transform: translateY(-10px);
    background-color: #0033a0;
    color: white;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.cardText {
    font-size: 1rem;
    line-height: 1.5;
}

.card:hover .cardTitle,
.card:hover .cardText {
    color: white;
}

@media (max-width: 992px) {
    .card {
        margin: 10px;
    }
}
